<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link rel="stylesheet" href="/assets/element-ui/index.css">
	<link rel="stylesheet" href="/assets/element-ui/display.css">
	<link rel="stylesheet" href="/assets/element-ui/main.css">
	<script src="/assets/element-ui/vue.js"></script>
	<script src="/assets/element-ui/index.js"></script>
	<script src="/assets/element-ui/vue-resource.min.js"></script>
	<!-- 引用了element等类库-->

	<link rel="stylesheet" href="/assets/css/layui.css">		
	<script src="/assets/jquery-1.11.0.min.js"></script>
	<script src="/assets/layui.all.js"></script>